@import "src/styles/utils/variables";


.popup {
  width: 435px;
  position: fixed;
  //display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px 13px;
  border-radius: 10px;
  background-color: $c-white;
  z-index: 10;
  min-width: $mobile-width;

  @media (max-width: $tablet-width) {
    width: 100%;
    border-radius: 0;
    bottom: 0;
    top: auto;
    transform: translateY(0) translateX(-50%);
    padding-bottom: 85px;
  }

  h2 {
    margin: 0 0 30px;
    font-size: 26px;
    font-weight: bold;

    @media (max-width: $desktop-width) {
      font-size: 18px;
    }
  }

  p {
    opacity: 0.4;
    font-family: $pt-sans-caption;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.34px;
    max-width: 229px;
    align-self: center;

    @media (max-width: $tablet-width) {
      opacity: 1;
    }
  }
}

.popup--closed {
  display: none;
}

.popup__form {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    max-width: 350px;
    margin: 0 auto;
  }
}

.popup__form input {
  height: 60px;
  border: 1px solid $c-input-border;
  background-color: $c-input;
  border-radius: 8px;
  margin-bottom: 14px;
  padding: 19px;
  font-size: 20px;

  &::placeholder {
    font-size: 20px;
  }
}

.popup__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;

  @media (max-width: $tablet-width) {
    top: 11px;
    left: calc(50% - 15px);
    border-radius: 5px;
    width: 30px;
    height: 5px;
  }

  &:hover {
    transform: scale(1.05, 1.05);
  }

  &:focus {
    outline: none;
    border: 1px solid grey;
    transform: translateY(-1px);
  }

  img {

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.popup__button {
  padding: 16px;
  border: none;
  border-radius: 10px;
  background-color: $c-red;
  color: $c-white;
  font-family: $pt-sans-caption;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.39px;
  text-align: center;
  margin: 16px 0 7px;
  cursor: pointer;
}
