@import "src/styles/utils/variables";

.trackers {
  border-top: 1px solid rgba(168, 182, 200, 0.3);
  padding: 29px 0 68px;

  h2 {
    font-family: $exo-extra-bold;
    font-size: 30px;
    font-weight: 800;
    color: $c-black;
    margin: 0 0 30px;
  }
}

.trackers__list {
  display: flex;
  justify-content: space-between;
}

.trackers__item {
  width: 465px;
  border-radius: 12px;
  padding-top: 213px;
  overflow: hidden;
}

.trackers__item--water {
  background-color: #eaedf8;
}

.trackers__item--habit {
  background-color: #f0f0f0;
}

.trackers__download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 28px 30px;

  h3 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.75px;
  }

  span {
    font-family: $pt-sans-bold;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.56px;
  }
}

.trackers__download--water {
  background-color: $c-light-blue;

  h3 {
    color: $c-dark-blue;
  }

  span {
    color: $c-blue;
  }
}

.trackers__download--habit {
  background-color: $c-light-rose;

  h3 {
    color: $c-burgundy;
  }

  span {
    color: $c-light-crimson;
  }
}

.trackers__download-text {
  h3 {
    font-family: $pt-sans-bold;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.75px;
    margin: 0 0 10px;
  }
}

.trackers__button {
  display: block;
  min-width: 150px;
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 14px;
  color: $c-white;
  cursor: pointer;
}

.trackers__button--water {
  background-color: $c-blue;
}

.trackers__button--habit {
  background-color: $c-crimson;
}
