@import "src/styles/utils/variables";

.trackers {
  padding: 29px 0 37px;

  @media (max-width: $tablet-width) {
    padding: 0 0 68px;
  }

  h2 {
    font-family: $exo-extra-bold;
    font-size: 30px;
    font-weight: 800;
    color: $c-black;
    margin: 0 7px 20px;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.trackers__list {
  display: flex;
  justify-content: space-between;
}

.trackers__item {
  border-radius: 12px;
  //overflow: hidden;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 30px;
    width: 81px;
    height: 81px;

    @media (max-width: $tablet-width) {
      top: -22px;
      left: calc(50% - 40px);
    }
  }
}


.trackers__item--habit {
  &::before {
    background: url("../img/icon-habit.svg") no-repeat 50% 34%;
  }
}

.trackers__item--water {
  &::before {
    background: url("../img/icon-water.svg") no-repeat 50% 34%;
  }
}

.trackers__download-picture {
  height: 213px;
  border-radius: 12px 12px 0 0;
}

.trackers__download-picture--water {
  background: #eaedf8 url("../img/water.jpg") no-repeat;
  //background-size: cover;
  background-position-y: 99%;
  background-size: 114%;

  @media (max-width: $tablet-width) {
    background-size: 178%;
  }
  //
  //@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  //  background-image: url("../img/water@2x.jpg");
  //}
}

.trackers__download-picture--habit {
  background: #eaedf8 url("../img/habit.jpg") no-repeat;
  background-size: cover;

  //@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  //  background-image: url("../img/habit@2x.jpg");
  //}
}

.trackers__download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 18px 30px;
  border-radius: 0 0 12px 12px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.75px;
  }

  span {
    font-family: $pt-sans-bold;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.56px;
  }
}

.trackers__download-text {

  @media (max-width: $tablet-width) {
    text-align: center;
    margin-bottom: 19px;
  }

  h3 {
    font-family: $pt-sans-bold;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.75px;
    margin: 0 0 10px;
  }
}

.trackers__download--water {
  background-color: $c-light-blue;

  h3 {
    color: $c-dark-blue;
  }

  span {
    color: $c-blue;
  }
}

.trackers__download--habit {
  background-color: $c-light-rose;

  h3 {
    color: $c-burgundy;
  }

  span {
    color: $c-light-crimson;
  }
}


.trackers__button {
  display: block;
  min-width: 150px;
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 14px;
  color: $c-white;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    min-width: 100px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.trackers__button--water {
  background-color: $c-blue;
}

.trackers__button--habit {
  background-color: $c-crimson;
}

.trackers__swiper-container {
  padding-bottom: 30px;
  padding-top: 10px;

  @media (max-width: $tablet-width) {
    padding-bottom: 49px;
  }

  .swiper-pagination {

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 8px;
    border-radius: 5px;
    background-color: $c-black;
    opacity: 0.2;
    transition: all 500ms ease;
  }

  .swiper-pagination-bullet-active {
    width: 35px;
    height: 8px;
    opacity: 1;
  }
}
