.trackers {
  border-top: 1px solid rgba(168, 182, 200, 0.3);
  padding: 29px 0 68px;

  h2 {
    font-family: $exo-extra-bold;
    font-size: 30px;
    font-weight: 800;
    color: $c-black;
    margin: 0 0 30px;
  }
}

.trackers__list {
  display: flex;
  justify-content: space-between;
}

.trackers__item {
  width: 465px;
  height: 315px;
  border-radius: 12px;
  background-color: black;
}

.trackers__item--water {
  background-color: red;
}


//.trackers__water {
//  width: 465px;
//  height: 315px;
//  background-color: $c-light-blue;

//}
//
//.trackers__habit {
//  width: 465px;
//  height: 315px;
//  border-radius: 12px;
//  background-color: $c-light-blue;
//}
