@import "../utils/variables";

.footer {
  @media (max-width: $tablet-width) {
    position: relative;
    z-index: 10;
  }
}

.footer--modal-opened {
  @media (max-width: $tablet-width) {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.footer__wrapper {
  border-top: 1px solid $c-dark-grey;
  display: flex;
  justify-content: space-between;
}

.footer__company {
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -0.34px;
}

.footer__year {
  font-family: $pt-sans-caption;
  font-size: 14px;
  letter-spacing: -0.34px;
}
