.header {
  padding: 26px 0;
  margin-bottom: 26px;

  img {
    @media (max-width: $tablet-width) {
      width: 174px;
      height: 44px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 26px 0 12px;
    margin-bottom: 14px
  }
}

.header__wrapper {
  display: flex;
}
