extends common/layout

block content
    main
      section.new-season
        .container
          .new-season__wrapper
            .new-season__content
              h3 Free everyday workout
              p 17 july – 1 august
              .new-season__download
                a.new-season__ios(href="https://apps.apple.com/ru/app/fatburn-mania/id1453006169")
                  img(src="img/app-store.png" width="84" height="26" alt="App Store")
                a.new-season__android(href="#")
                  img(src="img/google-play.png" width="84" height="26" alt="Google Play")
                span.new-season__download-free Download free
            .new-season__img
              img(src="img/banner.png" alt="banner" width="395" height="269")

      section.trackers
        .container
          h2 Free trackers
          .trackers__swiper-container.swiper-container
            .trackers__list.swiper-wrapper
              .trackers__item.trackers__item--water.swiper-slide
                .trackers__download-picture.trackers__download-picture--water
                .trackers__download.trackers__download--water
                  .trackers__download-text
                    h3 Water tracker
                    span free for you
                  a.trackers__button.trackers__button--water(href="#") Download

              .trackers__item.trackers__item--habit.swiper-slide
                .trackers__download-picture.trackers__download-picture--habit
                .trackers__download.trackers__download--habit
                  .trackers__download-text
                    h3 Habit tracker
                    span free for you
                  a.trackers__button.trackers__button--habit(href="#") Download
            .swiper-pagination
      .popup.popup--water.popup--closed
        button.popup__close-button(aria-label="Закрыть попап")
          img(src="img/icon-close-button.svg" alt="Кнопка закрытия попапа" width="16" height="16")
        form(action='https://app.getresponse.com/add_subscriber.html' accept-charset="utf-8" method='POST' target='_blank').popup__form
          h2 Tell us contact info
          input(type="text" name="name" placeholder="Name")
          input(type="tel" id="phone-water" name="custom_mobile_phone" placeholder="Phone")
          input.error(type="email" name="email" placeholder="E-mail")
          input(type="hidden" name="campaign_token" value="B3Uyf")
          input(type="hidden" name="start_day" value="0")
          button.popup__button(type="submit" name="subscribe" value='Subscribe') Send
          p By clicking the button, you agree to the processing of personal data.
      .popup.popup--habit.popup--closed
        button.popup__close-button(aria-label="Закрыть попап")
          img(src="img/icon-close-button.svg" alt="Кнопка закрытия попапа" width="16" height="16")
        form(action='https://app.getresponse.com/add_subscriber.html' accept-charset="utf-8" method='POST' target='_blank').popup__form
          h2 Tell us contact info
          input(type="text" name="name" placeholder="Name")
          input(type="tel" id="phone-habit" name="custom_mobile_phone" placeholder="Phone")
          input(type="email" name="email" placeholder="E-mail")
          input(type="hidden" name="campaign_token" value="B3UKc")
          input(type="hidden" name="start_day" value="0")
          button.popup__button(type="submit" name="subscribe" value='Subscribe') Send
          p By clicking the button, you agree to the processing of personal data.
      .popup.popup--done.popup--closed
        button.popup__close-button.popup__close-button--habit(type="button" aria-label="Закрыть попап")
          img(src="img/icon-close-button.svg" alt="Кнопка закрытия попапа" width="16" height="16")
        img.popup__icon-done(src="img/icon-done.svg" width="147" height="160")
        h2 Yeah!
        p.popup__success Your information was sent successfully
        button.popup__done-button(type="button") Close


      .overlay.overlay--closed
