extends common/layout

block content
    main
      section.new-season
        .container
          .new-season__wrapper
            .new-season__content
              h3 Free everyday workout
              p 17 july – 1 august
              a.new-season__download(href="https://apps.apple.com/ru/app/fatburn-mania/id1453006169")
                .new-season__ios
                  img(src="img/app-store.png" width="120" height="50" alt="App Store")
                span.new-season__download-free Download free
            .new-season__img
              img(src="img/banner.png" alt="banner" width="395" height="269")

      section.trackers
        .container
          h2 Free trackers
          .trackers__swiper-container.swiper-container
            .trackers__list.swiper-wrapper
              .trackers__item.trackers__item--water.swiper-slide
                .trackers__download-picture.trackers__download-picture--water
                .trackers__download.trackers__download--water
                  .trackers__download-text
                    h3 Water tracker
                    span free for you
                  a.trackers__button.trackers__button--water(href="#") Download

              .trackers__item.trackers__item--habit.swiper-slide
                .trackers__download-picture.trackers__download-picture--habit
                .trackers__download.trackers__download--habit
                  .trackers__download-text
                    h3 Habit tracker
                    span free for you
                  a.trackers__button.trackers__button--habit(href="#") Download
            .swiper-pagination
      .popup.popup--water.popup--closed
        button.popup__close-button.popup__close-button--water(aria-label="Закрыть попап")
          img(src="img/close-button.svg" alt="Кнопка закрытия попапа" width="80" height="80")
        form(action='https://gmail.us17.list-manage.com/subscribe/post?u=31a47753ac923a9b7d09bf0ad&amp;id=350a3dddb8' method='POST' target='_blank').popup__form
          h2 Tell us contact info
          input(type="text" name="FNAME" placeholder="Name")
          input(type="text" name="PHONE" placeholder="Phone")
          input(type="email" name="EMAIL" placeholder="E-mail")
          input(type="hidden" name="group[9072][1]" value="1")
          button.popup__button(type="submit" name="subscribe" value='Subscribe') Send
          p By clicking the button, you agree to the processing of personal data.
      .popup.popup--habit.popup--closed
        button.popup__close-button.popup__close-button--habit(aria-label="Закрыть попап")
          img(src="img/close-button.svg" alt="Кнопка закрытия попапа" width="80" height="80")
        form(action='https://gmail.us17.list-manage.com/subscribe/post?u=31a47753ac923a9b7d09bf0ad&amp;id=350a3dddb8' method='POST' target='_blank').popup__form
          h2 Tell us contact info
          input(type="text" name="FNAME" placeholder="Name")
          input(type="text" name="PHONE" placeholder="Phone")
          input(type="email" name="EMAIL" placeholder="E-mail")
          input(type="hidden" name="group[9072][2]" value="2")
          button.popup__button(type="submit" name="subscribe" value='Subscribe') Send
          p By clicking the button, you agree to the processing of personal data.

      .overlay.overlay--closed