extends common/layout

block content
    main.main
      section.new-season
        .container
          .new-season__wrapper
            .new-season__content
              h3 New season
              p 17 july – 1 august
              a.new-season__download(href="#")
                .new-season__ios
                  img(src="img/app-store.png" width="120" height="50" alt="App Store")
                span.new-season__download-free Download free
            .new-season__img
              img(src="img/banner.png" alt="banner" width="395" height="269")

      section.trackers
        .container.swiper-container
          h2 Free trackers
          .trackers__list.swiper-wrapper
            .trackers__item.trackers__item--water.swiper-slide
              .trackers__download-picture.trackers__download-picture--water
              .trackers__download.trackers__download--water
                .trackers__download-text
                  h3 Water tracker
                  span free for you
                a.trackers__button.trackers__button--water(href="#") Download

            .trackers__item.trackers__item--habit.swiper-slide
              .trackers__download-picture.trackers__download-picture--habit
              .trackers__download.trackers__download--habit
                .trackers__download-text
                  h3 Habit tracker
                  span free for you
                a.trackers__button.trackers__button--habit(href="#") Download

      .popup

        button.popup__close-button(aria-label="Закрыть попап")
          img(src="img/close-button.svg" alt="Кнопка закрытия попапа" width="80" height="80")
        form.popup__form
          h2 Tell us contact info
          input(type="text" placeholder="Name")
          input(type="password" placeholder="Password")
          input(type="email" placeholder="E-mail")
          button.popup__button(type="submit") Send
          p By clicking the button, you agree to the processing of personal data.

      .overlay
