extends common/layout

block content
  main.main
    section.new-season.container
      .new-season__content
        h3 New season
        p 17 july – 1 august
        a.new-season__download(href="#")
          .new-season__ios
          span.new-season__download-free Download free
      .new-season__img

    section.trackers.container
      h2 Free trackers
      .trackers__download
        .trackers__water
        .trackers__habit
