$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$desktop-wrapper: 1200px;

$pt-sans-bold: "PT Sans Bold", "Arial", sans-serif;
$pt-sans-caption: "PT Sans Caption", "Arial", sans-serif;
$exo-extra-bold: "Exo Extra Bold", "Arial", sans-serif;
$sf-pro-display-heavy: "SFProDisplay-Heavy", "Arial", sans-serif;
$sf-pro-display-medium: "SFProDisplay-Medium", "Arial", sans-serif;

$c-white: #ffffff;
$c-red: #fe4b05;
$c-black: #000000;
$c-light-blue: #b3e1f9;
$c-blue: #4ba0ce;
$c-dark-blue: #013963;
$c-dark-grey: #4a4a4a;
$c-light-rose: #ffe1e9;
$c-crimson: #d63b63;
$c-dark-rose : #d88399;
$c-burgundy:#980028;
$c-light-brown: #aa9c97;
$c-light-crimson: #d88399;
$c-shadow: #dfd7d5;
$c-input-border: #e4e4e4;
$c-input: #f3f3f3;

//$c-light-brown-with-opacity: rgba(170, 156, 151, 0.2);
